<div class="ui container main">
  <h1>All books</h1>
  <table class="ui basic table" id="books-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td>
            <h4 class="ui image header">
              <img src=<%= book.image %>, class="ui mini rounded image">
              <div class="content">
                <a href=<%= book_path(book.id) %>><%= book.title %></a>
              </div>
            </h4>
          </td>
          <td>
            <%= book.author %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>


  <% if user_signed_in? && current_user.admin? %>
      <%= link_to("Add a book", new_book_path) %>
  <% end %>
</div>