<div class="ui container main">
  <h1>Add a new book</h1>
  <%= form_for @book, html: { class: "ui form" } do |f| %>
      <div class="required field">
        <%= f.label :isbn %>
        <%= f.text_field :isbn, required: true %>
      </div>

      <div class="required field">
        <%= fields_for :inventory do |inventory_fields| %>
            <%= inventory_fields.label :quantity %>
            <%= inventory_fields.number_field :quantity, required: true %>
        <% end %>
      </div>

      <div class="actions">
        <%= f.submit "Add", class: "ui button" %>
      </div>
  <% end %>
</div>
