<div class="ui container main">

  <div class="ui grid">
    <div class="row">
      <h3 class="ui header">
        <img src=<%= @book.image %>, class="ui circular image">
        <%= @book.title %>
      </h3>
    </div>
    <div class="row">
      <table class="ui table">
        <thead>
        <tr>
          <th>Total quantity</th>
          <th>Current quantity</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @book.total_quantity %></td>
          <td><%= @book.current_quantity %></td>
          <td>
            <% if borrow_allow?(@book) %>
                <%= button_to "Borrow", borrow_book_path, { class: 'borrow-button ui button'} %>
            <% else %>
                <%= button_to "Not Available", '#', { class: 'negative disabled ui button', id: "status"} %>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>

      <table class="ui table">
        <thead>
        <tr>
          <th>User</th>
          <th>Borrowed at</th>
        </tr>
        </thead>
        <tbody>
        <% @currently_using_users.each do |transaction| %>
          <tr>
            <td id="borrowed-user"> <%= transaction.user.email %> </td>
            <td id="borrow-time"> <%= transaction.borrowed_at %> </td>
          </tr>
        <% end %>
        </tbody>
      </table>

    </div>
    <div class="row">
      <div class="sixteen wide column">
          <div class="ui piled segment">
            <h4 class="ui header">
              Description
            </h4>
            <%= @book.description %>
          </div>
      </div>
    </div>
  </div>

</div>


