<div class="ui container main">

  <div class="ui grid">
    <h3 class="ui header">
      <img src=<%= @book.image %>, class="ui circular image">
      <%= @book.title %>
    </h3>
    <table class="ui table">
      <thead>
        <tr>
          <th>Total quantity</th>
          <th>Current quantity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @book.total_quantity %></td>
          <td><%= @book.current_quantity %></td>
          <td>
            <% if borrow_allow?(@book) %>
                <%= button_to "Borrow", borrow_book_path, { class: 'borrow-button ui button'} %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="ui piled segment">
      <h4 class="ui header">
        Description
      </h4>
      <%= @book.description %>
    </div>
  </div>
</div>


