<div class="ui container main">
  <div class="ui grid">
    <div class="row">
      <h3 class="ui header">
        <img src=<%= @book.image %>, class="ui circular image">
        <%= @book.title %>
      </h3>
    </div>
    <div class="row">
      <table class="ui table">
        <thead>
        <tr>
          <th>Total quantity</th>
          <th>Current quantity</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= @book.total_quantity %></td>
          <td><%= @book.current_quantity %></td>
          <td>
            <% if borrow_allow?(@book) %>
                <%= button_to "Borrow", borrow_book_path, { class: 'borrow-button ui positive button'} %>
            <% elsif hold_allow?(@book) %>
                <%= button_to "Hold", hold_book_path, { class: 'hold-button ui button' } %>
            <% elsif checked_out_book?(@book) %>
                <%= button_to "Checked out", '#', {class: 'borrowed-book-button ui button disabled'} %>
            <% elsif placed_hold?(@book) %>
                <%= button_to "Placed a hold", '#', {class: 'placed-hold-button ui button disabled'} %>
            <% end %>
          </td>
        </tr>
        </tbody>
      </table>

      <table class="ui table">
        <thead>
        <tr>
          <th>User</th>
          <th>Borrowed at</th>
        </tr>
        </thead>
        <tbody>
        <% @currently_using_users.each do |transaction| %>
          <tr>
            <td id="borrowed-user"> <%= transaction.user.email %> </td>
            <td id="borrow-time"> <%= transaction.borrowed_at %> </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="sixteen wide column">
        <div class="ui horizontally padded raised segment">
          <h4 class="ui header">
            Description
          </h4>
          <%= @book.description %>
        </div>
      </div>
    </div>
  </div>
</div>


